# Example1. (default)
# This configure will make msgs with topic topic1 be shared in DDS network and MQTT network.
# It receive messages from MQTT network in topic DDSCMD/topic1 and send them to DDS network with topic MQTT/topic1.
# It receive messages from DDS network in topic MQTTCMD/topic1 and send them to MQTT network with topic DDS/topic1. 

dds {
	idl_type  = topic1Type
	domain_id = 0
}

mqtt {
	broker_url = "mqtt-tcp://127.0.0.1:1883"
}

topic_rules {
	dds2mqtt = [{
		in = "MQTTCMD/topic1"
		out = "DDS/topic1"
	}]

	mqtt2dds = [{
		in = "DDSCMD/topic1"
		out = "MQTT/topic1"
	}]
}

