name: Build EE packages

concurrency:
  group: build-ee-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
    tags:
      - 'edge-*'
  pull_request:
    branches:
      - master
  release:
    types:
      - published
    branches:
      - master

jobs:
  build-linux-packages:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, aarch64]
        platform: [linux]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        lfs: false

    - name: Initialize Submodules
      run: git submodule update --init --recursive

    - name: Build
      env:
        FETCH_TOKEN: ${{ secrets.EE_CI_DASHBOARD_FETCH_TOKEN }}
      run: |
        dashboard_ver="0.0.5-beta.1"
        mkdir -p build && cd build
        cmake -DENABLE_DASHBOARD=ON -DDASHBOARD_VERSION=$dashboard_ver -DGITHUB_TOKEN="${FETCH_TOKEN}" ..
        cd ..
        docker build --build-arg DASHBOARD_VER=$dashboard_ver -t edge-${{ matrix.arch }} -f deploy/ee-deploy/${{ matrix.arch }}-linux.Dockerfile .

    - name: Zip
      id: zip
      run: |
        arch="${{ matrix.arch }}"
        edge_tag_name="$(git describe --abbrev=0 --tags --match edge-*)"
        pkg_name="emqx-${edge_tag_name}-linux-${arch}"
        git log --format=%H -1 > commits.txt
        cd nng && git log --format=%H -1 >> ../commits.txt && cd -
        echo -e "## How to start nanomq\n\n./nanomq start" > start.md
        mkdir -p _packages/etc
        mkdir -p _packages_release
        id=$(docker create edge-${{ matrix.arch }})
        docker cp $id:/opt/NanoMQ_mirror/build/nanomq/nanomq _packages/
        docker cp $id:/opt/NanoMQ_mirror/build/nanomq/dist _packages/
        docker cp $id:/opt/NanoMQ_mirror/etc/nanomq_ee.conf _packages/nanomq.conf
        docker cp $id:/opt/NanoMQ_mirror/etc/trial-env.lic _packages/nanomq.lic
        docker cp $id:/opt/NanoMQ_mirror/etc/certs/ _packages/etc/
        cp commits.txt _packages/
        zip -r ${pkg_name}.zip _packages
        mv ${pkg_name}.zip _packages_release
        cd _packages_release; echo $(sha256sum ${pkg_name}.zip | awk '{print $1}') > ${pkg_name}.zip.sha256; cd -
        echo "pkg_name=${pkg_name}" >> $GITHUB_OUTPUT
        echo "edge_tag_name=${edge_tag_name}" >> $GITHUB_OUTPUT

    - name: Upload Package
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.zip.outputs.pkg_name }}
        path: "_packages/*"
        retention-days: 7

    - name: Upload Artifacts to Release
      uses: softprops/action-gh-release@v2.2.2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: "NanoMQ Release ${{ github.ref_name }}"
        tag_name: ${{ github.ref_name }}
        files: |
          _packages_release/*.zip
          _packages_release/*.sha256
        body_path: changelogs/${{ steps.zip.outputs.edge_tag_name }}.md
        body: "${{ github.ref_name }} has been released!"
        draft: false
        prerelease: false

    - name: Upload to S3
      if: github.event_name == 'release' || startsWith(github.ref, 'refs/tags/')
      run: |
        aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws configure set default.region us-west-2
        pkgversion="$(git describe --abbrev=0 --tags --match 'edge-*' | sed 's/^edge-//')"
        aws s3 cp --recursive _packages_release s3://packages.emqx/nanomq-edge/$pkgversion

  build-windows-packages:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history including tags
          submodules: recursive
          lfs: false

      - name: Initialize Submodules
        run: git submodule update --init --recursive

      - name: Install basic toolchains
        run: |
          choco install strawberryperl --no-progress
          choco install python --no-progress

      - name: Install mbedtls
        run: |
          git clone https://github.com/Mbed-TLS/mbedtls.git
          cd mbedtls
          git checkout v3.6.2
          git submodule update --init --recursive
          scripts/make_generated_files.bat
          cmake -S . -B build
          cmake --build build --config Release
          cmake --install build --prefix "C:/mbedtls" --config Release

      - name: Download OpenSSL
        run: |
          Invoke-WebRequest -Uri https://slproweb.com/download/Win64OpenSSL-3_1_8.exe -OutFile openssl-installer.exe
          Start-Process -Wait -FilePath .\openssl-installer.exe -ArgumentList "/silent","/verysilent","/sp-","/suppressmsgboxes","/dir=C:\OpenSSL"

      - name: Add OpenSSL to PATH
        run: |
          echo "C:\OpenSSL\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          openssl version
          ls C:\OpenSSL\lib
          ls C:\OpenSSL\lib\VC\x64
          ls C:\OpenSSL\lib\VC\x64\MT

      - name: Prepare
        shell: bash
        run: |
          edge_tag_name="$(git describe --abbrev=0 --tags --match edge-*)"
          echo "edge_tag_name=${edge_tag_name}" >> $GITHUB_ENV

      - name: Build
        env:
          FETCH_TOKEN: ${{ secrets.EE_CI_DASHBOARD_FETCH_TOKEN }}
        run: |
          cmake -B build -DENABLE_DASHBOARD=ON -DDASHBOARD_VERSION="0.0.5-beta.1" -DENABLE_LICENSE_STD=ON -DOPENSSL_ROOT_DIR="C:/OpenSSL" -DMBEDTLS_ROOT="C:/mbedtls" -DNNG_ENABLE_TLS=ON -DENABLE_JWT=ON -DNNG_ENABLE_SQLITE=ON -DENABLE_RULE_ENGINE=ON -DENABLE_BENCH=ON -DGITHUB_TOKEN="${env:FETCH_TOKEN}"
          cmake --build build --config Release --target install

      - name: Package
        run: |
          ls etc/
          ls install/
          mkdir _packages
          mkdir _packages/etc
          mkdir _packages/tmp
          "nanomq for windows" | Out-File -FilePath "_packages/tmp/a.txt" -Encoding ascii
          "## How to start nanomq? ./nanomq start" | Out-File -FilePath "_packages/start.md" -Encoding ascii
          mv etc/nanomq_ee_win.conf _packages/nanomq.conf
          mv etc/trial-env.lic _packages/nanomq.lic
          mv install/bin/* _packages/
          mv etc/certs _packages/etc/

          mkdir _packages_release
          $zipPath = "_packages_release/emqx-${{ env.edge_tag_name }}-windows-x86_64.zip"
          $shaPath = "$zipPath.sha256"
          Compress-Archive -Path _packages/* -DestinationPath $zipPath
          $hash = Get-FileHash -Algorithm SHA256 -Path $zipPath
          "$($hash.Hash)" | Out-File -FilePath $shaPath -Encoding ascii
          ls _packages_release

      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: emqx-${{ env.edge_tag_name }}-windows-x86_64
          path: _packages/*
          retention-days: 7

      - name: Upload Artifacts to Release
        uses: softprops/action-gh-release@v2.2.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: "NanoMQ Release ${{ github.ref_name }}"
          tag_name: ${{ github.ref_name }}
          files: |
            _packages_release/*.zip
            _packages_release/*.sha256
          body_path: changelogs/${{ env.edge_tag_name }}.md
          body: "${{ github.ref_name }} has been released!"
          draft: false
          prerelease: false

      - name: Upload to S3
        if: github.event_name == 'release' || startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-west-2
          pkgversion="$(git describe --abbrev=0 --tags --match 'edge-*' | sed 's/^edge-//')"
          aws s3 cp --recursive _packages_release s3://packages.emqx/nanomq-edge/$pkgversion

  publish-packages:
    needs: [build-linux-packages, build-windows-packages]
    runs-on: ubuntu-latest
    steps:
    - name: Publish to Website
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        set -e -x -u
        curl -w %{http_code} \
          --insecure \
          -H "Content-Type: application/json" \
          -H "token: ${{ secrets.EMQX_IO_TOKEN }}" \
          -X POST \
          -d "{\"repo\":\"emqx/NanoMQ_mirror\", \"tag\": \"${{ github.ref_name }}\" }" \
          ${{ secrets.EMQX_IO_RELEASE_API }}
