# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# Find more information at:
# https://github.com/microsoft/msvc-code-analysis-action

name: Microsoft C++ Code Analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '32 22 * * 6'

env:
  # Path to the CMake build directory.
  build: '${{ github.workspace }}/build'

permissions:
  contents: read

jobs:
  analyze:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Analyze
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update only nanonng submodule to latest remote
        run: |
          git submodule sync --recursive
          git submodule update --init nng
          git fetch --prune
          # checkout a branch if desired, e.g. main
          # git checkout main || true
          # git pull origin main || true
          popd
        shell: pwsh

      - name: Configure CMake for Code Analysis
        run: cmake -B build -S . -A x64 -DCMAKE_C_FLAGS="/analyze:max_allowed_rule_set_run=DesktopPreferred.Set" -DCMAKE_CXX_FLAGS="/analyze:max_allowed_rule_set_run=DesktopPreferred.Set"


      - name: Build Project and Run Analysis
        # The /analyze flag runs during compilation, so the build step executes the analysis.
        run: cmake --build build --config Release

      - name: Run Tests
        working-directory: build
        run: |
          ctest --output-on-failure
        shell: bash

      - name: Install
        run: cmake --install build --config Release
  
      # Upload SARIF file to GitHub Code Scanning Alerts
      # - name: Upload SARIF to GitHub
        # uses: github/codeql-action/upload-sarif@v3
        # with:
        #  sarif_file: ${{ steps.run-analysis.outputs.sarif }}

      # Upload SARIF file as an Artifact to download and view
      # - name: Upload SARIF as an Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: sarif-file
      #     path: ${{ steps.run-analysis.outputs.sarif }}
