name: Build EE Windows Package

on:
  push:
    branches:
      - master
      - moi_0_18_1
    tags:
      - 'edge-*'
  pull_request:
    branches:
      - master
  release:
    types:
      - published
    branches:
      - master

jobs:
  all:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history including tags

      - name: Initialize Submodules
        run: git submodule update --init nng

      - name: Download OpenSSL
        run: |
          Invoke-WebRequest -Uri https://slproweb.com/download/Win64OpenSSL-3_1_8.exe -OutFile openssl-installer.exe
          Start-Process -Wait -FilePath .\openssl-installer.exe -ArgumentList "/silent","/verysilent","/sp-","/suppressmsgboxes","/dir=C:\OpenSSL"

      - name: Add OpenSSL to PATH
        run: |
          echo "C:\OpenSSL\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          openssl version
          ls C:\OpenSSL\lib
          ls C:\OpenSSL\lib\VC\x64
          ls C:\OpenSSL\lib\VC\x64\MT

      - name: Build
        env:
          FETCH_TOKEN: ${{ secrets.EE_CI_DASHBOARD_FETCH_TOKEN }}
        run: |
          cmake -B build -DENABLE_LICENSE_STD=ON -DOPENSSL_ROOT_DIR="C:/OpenSSL" -DENABLE_DASHBOARD=ON -DDASHBOARD_VERSION="0.0.3" -DNNG_ENABLE_SQLITE=ON -DNNG_ENABLE_RULE_ENGINE=ON -DNNG_ENABLE_JWT=ON -DNNG_ENABLE_BENCH=ON -DNNG_ENABLE_ZMQ_GATEWAY=ON -DGITHUB_TOKEN="${env:FETCH_TOKEN}"
          cmake --build build --config Release --target install

      - name: Package
        run: |
          ls etc/
          ls install/
          mkdir _packages_release
          mkdir _packages_release/etc
          mv etc/nanomq_ee.conf _packages_release/nanomq.conf
          mv etc/trial-env.lic _packages_release/nanomq.lic
          mv install/bin/* _packages_release/
          mv etc/certs _packages_release/etc/

      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: emqx-edge-vertest-windows-x86_64
          path: _packages_release/*
          retention-days: 7

      - uses: svenstaro/upload-release-action@v2
        if: github.event_name == 'release'
        with:
          repo_token: ${{ github.token }}
          file: install/nanomq*.zip
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
