name: Build packages for Windows

on:
  push:
  pull_request:
  release:
    types:
      - published

jobs:
  build_windows_packages:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x86_64
          - os: windows-11-arm
            arch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          submodules: false # Disable auto-submodule handling to allow shallow fetching

      - name: Initialize submodules (shallow)
        run: |
          git submodule update --init --recursive --depth 1

      - name: Configure
        run: |
          $extra_flags = ""
          if ("${{ matrix.arch }}" -eq "arm64") {
            $extra_flags = "-A ARM64"
          }
          cmake -B build -DNNG_ENABLE_SQLITE=ON -DENABLE_RULE_ENGINE=ON -DENABLE_JWT=ON -DBUILD_BENCH=ON $extra_flags

      - name: Build
        run: cmake --build build --config Release --target install

      - name: Package-Debug
        run: |
          $pkg_debug_name = "nanomq-debug-windows-${{ matrix.arch }}.zip"
          Compress-Archive -Path install/* -DestinationPath $pkg_debug_name
          Move-Item -Path $pkg_debug_name -Destination ./install/

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nanomq-debug-windows-${{ matrix.arch }}.zip
          path: "install/*.zip"
          retention-days: 7

      - name: Package
        if: github.event_name == 'release'
        run: |
          $pkg_name="nanomq-${{ github.event.release.tag_name }}-windows-${{ matrix.arch }}.zip"
          Compress-Archive -Path install/* -DestinationPath $pkg_name
          Move-Item -Path $pkg_name -Destination ./install/

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name == 'release'
        with:
          name: nanomq-${{ github.event.release.tag_name }}-windows-${{ matrix.arch }}.zip
          path: "install/*.zip"

      - uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
        if: github.event_name == 'release'
        with:
          repo_token: ${{ github.token }}
          file: install/nanomq-*-${{ matrix.arch }}.zip
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: upload to aws s3
        if: github.event_name == 'release'
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-west-2
          aws s3 cp install/ s3://packages.emqx/nanomq/$(git describe --abbrev=0 --tags)/ --recursive --exclude "*" --include "nanomq-*-${{ matrix.arch }}.zip"

      - name: update nanomq.io
        if: github.event_name == 'release'
        run: |
          try {
            $headers = New-Object "System.Collections.Generic.Dictionary[[String],[String]]"
            $headers.Add("token", "${{ secrets.EMQX_IO_TOKEN }}")
            $headers.Add("Content-Type", "application/json")
            $body = "{`"repo`": `"nanomq/nanomq`", `"tag`": `"${{ github.ref_name }}`"}"
            $response = Invoke-WebRequest ${{ secrets.EMQX_IO_RELEASE_API }} -Method 'POST' -Headers $headers -Body $body
            if ($response.StatusCode -eq 200) {
              Write-Host "HTTP status code: $($response.StatusCode)"
              Write-Host "Success"
            } else {
              Write-Host "HTTP status code: $($response.StatusCode)"
              Write-Host "Response: $($response.Content)"
              exit 1
            }
          } catch {
            Write-Host "An error occurred: $($_.Exception.Message)"
            exit 1
          }
