name: Build packages for Windows

on:
  push:
    branches:
      - master
      - moi_0_18_1
    tags:
      - 'edge-*'
  pull_request:
    branches:
      - master
  release:
    types:
      - published
    branches:
      - master

jobs:
  build_windows_packages:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - run: git submodule update --init --recursive

      - name: Download OpenSSL 1.1.1k
        run: |
          Invoke-WebRequest -Uri https://slproweb.com/download/Win64OpenSSL-1_1_1k.exe -OutFile openssl-installer.exe
          Start-Process -Wait -FilePath .\openssl-installer.exe -ArgumentList "/silent","/verysilent","/sp-","/suppressmsgboxes","/dir=C:\OpenSSL"

      - name: Add OpenSSL to PATH
        run: |
          echo "C:\OpenSSL\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          openssl version

      - name: Configure
        run: |
          dashboard_ver="0.0.3"
          make_flags+= " -DENABLE_LICENSE_STD=ON "
          make_flags+= " -DOPENSSL_ROOT_DIR=C:/OpenSSL "
          make_flags+= " -DENABLE_DASHBOARD=ON "
          make_flags+= " -DDASHBOARD_VERSION=$dashboard_ver "
          make_flags+= " -DNNG_ENABLE_SQLITE=ON "
          make_flags+= " -DNNG_ENABLE_RULE_ENGINE=ON "
          make_flags+= " -DNNG_ENABLE_JWT=ON "
          make_flags+= " -DNNG_ENABLE_BENCH=ON "
          make_flags+= " -DNNG_ENABLE_ZMQ_GATEWAY=ON "
          cmake -B build

          echo "make_flags=${make_flags}" >>GITHUB_OUTPUT

      - name: Build
        env:
          FETCH_TOKEN: ${{ secrets.EE_CI_DASHBOARD_FETCH_TOKEN }}
        run: cmake ${{ steps.configure.make_flags }} -DGITHUB_TOKEN="${FETCH_TOKEN}" --build build --config Release --target install

      - name: Package
        if: github.event_name == 'release'
        run: |
          $pkg_name="nanomq-${{ github.event.release.tag_name }}-windows-x86_64.zip"
          Compress-Archive -Path install/* -DestinationPath $pkg_name
          mv $pkg_name ./install/ 

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'release'
        with:
          name: nanomq-${{ github.event.release.tag_name }}-windows-x86_64.zip
          path: "install/*.zip"
          retention-days: 7

      - uses: svenstaro/upload-release-action@v2
        if: github.event_name == 'release'
        with:
          repo_token: ${{ github.token }}
          file: install/nanomq*.zip
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
